body {
  margin: 0;
}
#head-content {
  height: 285px;
  background: #6943ff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
h1 {
  font-size: 28px;
  text-align: center;
  color: white;
}
#input-txt {
  border: solid;
  background: none;
  color: white;
  border-color: #b295ff;
  border-width: 2px;
  border-radius: 5px;
  width: 117px;
  height: 83px;
  text-align: center;
  margin: auto;
  font-size: 48px;
}
.form-group {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
button {
  color: black;
  background: white;
  border: none;
  border-radius: 5px;
  width: 117px;
  height: 42px;
}
.container {
  background: #f4f4f4;
  padding-top: 15px;
  text-align: center;
}
.container-item {
  background: white;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.container-content {
  padding-top: 15px;
  padding-bottom: 15px;
}
h2 {
  color: #5a537b;
  font-size: 20px;
}
button:active {
  transform: translateY(4px);
}
